<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/styles.css/> -->
    <title>Calculo de IMC</title>
</head>
<header>
    <!-- Menu-->
    <!--home,produtos, sobre, Area Restrita -->
    <div class="div_menu1">
        <nav>
            <ul>
                <li><a href="index"> Home </a></li>
                <li><a href="desenvolvimento"> Produtos </a></li>
                <li><a href="desenvolvimento"> Sobre </a></li>
                <li><a href="login"> Login </a></li>
            </ul>
        </nav>
    </div>
</header>
<html>
