<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo de IMC</title>
</head>
<body>
    <form>
        <label>
            <span>Nome</span>
            <input name="nome" />
        </label>
        <label>
            <span>Altura</span>
            <input name="altura" type="number" />
        </label>
        <label></label>
            <span>Peso</span>
            <input name="peso" type="number" />
        </label>
        <button>Enviar</button>
    </form>
</body>
</html>