
<body>
    <!-- menu cabeçalho -->
    <!-- login, home, sobre, produtos -->
    <%- include('cabecalho') %>

    <main class="main">
        <section class="sessao_form">
            <h1>Problema: Calcular o Índice de Massa Corporal (IMC)</h1>
            <form action="/calcular-imc" method="post">
                <label>
                    <span>Peso (kg):</span>
                    <input name="peso" type="number" step="0.1" required />
                </label>
                <br>
                <label>
                    <span>Altura (m):</span>
                    <input name="altura" type="number" step="0.01" required />
                </label>
                <br>
                <button type="submit">Calcular</button>
            </form>
    
        </section>
        <section class="sessao_produtos">
            <h1>Olá mundo!!!</h1>

        </section>

    </main>
</body>