<body>
    <%- include('cabecalho') %>
    <main class="loginmain">
        <div class="container"></div>
        <div class="div_cabecalhoFormulario">
            <h2>LOGIN DO SISTEMA</h2>
        </div>
        <div class="div_corpoFormulario">
            <form action="">
                <label for="username">
                <span>Username</span>
                <input type="text" name="username">
                </label>
                <label for="senha">
                <span>Senha</span>
                <input type="password" name="senha">
                </label>
                <!-- <button>Entrar</button> -->
            </form>
        </div>
        <div class="div_rodapeFormulario">
            <button>Entrar</button>
            <button>Cancelar</button>
        </div>


    </main>
</body>
